#app{
width: 100%;
height: 100%;

}

#roadContainer {
    position: relative;
    display: flex;
    height: 100%;
    justify-content: center;
}

#road{
    background-color: #e4e4e4;
    height: 97vh;
    width: 400px;
    border: solid black 1px;
    border-radius: 5%;
    background-image: url('Assets/road.png');
    
}
.sidewalk{
    display: flex;
    background-color: #4e4e4e;
    height: 97vh;
    width: 90px;
    border: solid black 1px;
    border-radius: 130px;
    justify-content: center;
}

#car{
    position: relative;
    height: 250px;
    width: 150px;
    background-color: black;
}

#meetingFriend1{
    position: relative;
    /* margin-top: 15px; */
    height: 50px;
    width: 50px;
    background-color: goldenrod;
    z-index: 1;
}

#responses {
    position: absolute;
    left: 120px;
    top: -40px;
    width: 140px;
    z-index: 3;
}

#bubble {
    position: absolute;
    width: 500%;
    transform: scaleX(-1);
    left: 53px;
    top: -75px;
    z-index: 2;
}































































































































































































































































